/*-------------------- RESET GERAL-------------------- */
 body{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: #000000;
 }

/*-----------------------FONTES----------------------- */
 @font-face {
      font-family:'bebasneue' ;
      src: url(FONTES/BebasNeue-Regular.otf) format('opentype');
      font-weight: normal;
      font-style: normal;
 }

 @font-face {
      font-family:'highspirited' ;
      src: url(FONTES/HighSpirited.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
 }

  @font-face {
      font-family:'vogue' ;
      src: url(FONTES/Vogue.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
 }

/*-----------------------BANNER----------------------- */
 .banner img {
      width: 100%;
      height: 50vh; 
      display: block;
      object-fit: cover;
 }

 .banner::after{
    content: "";
    position: absolute;
    bottom: 0;
    top:19vh;
    left: 0;
    width: 100%;
    height: 20vh; /* controla o tamanho do degradê */
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgb(0, 0, 0) 50%,
        #000 100%
    );
    z-index: 2;
    pointer-events: none;
}


 .banner {
      position: relative;       
      width: 100%;
      height: 50vh;
      overflow: hidden;
 }

 .img-banner{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;        
      z-index: 1;
 }

 .banner-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.685);
      z-index: 2;
 }

 .banner-content {
      position: relative;
      z-index: 3;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      text-align: center;
      margin: 0;
}

.banner-content h1{
      z-index: 4;
      color:#e88d27;
      font-family:'bebasneue', times, serif;
      font-size: 15rem;
      font-weight: bold;
      text-transform: uppercase;
      text-shadow:
           0 0 5px #ffffff,
           0 0 10px #b46c19,
           0 0 20px #b36d1f,
           0 0 40px #bb5202,
           0 0 80px #d16009;
      animation: neonPulse 1.5s infinite alternate;
}

.banner-content span {
      z-index: 5;
      color: #ffffff;
      font-family: 'highspirited', times, serif;
      font-size: 8rem;
      position: absolute;
      left: 100vh;
      top: 13vh;
      transform: translateX(-50%) rotate(-8deg);
      pointer-events: none;
      text-shadow:
           0 0 5px #ffffff,
           0 0 10px #000000,
           0 0 20px #b36d1f,
           0 0 40px #bb5202,
           0 0 80px #d16009;
}

@keyframes neonPulse {
      from {
            text-shadow:
                0 0 5px #ffffff,
                0 0 10px #b46c19,
                0 0 20px #b36d1f,
                0 0 40px #bb5202,
                0 0 80px #d16009;
      }

      to {
           text-shadow:
                0 0 10px #ffffff,
                0 0 20px #ffffff,
                0 0 40px #cd8c13,
                0 0 80px #a86d00;
      }
}
/*-------------------CARDS FILTROS--------------------- */

.titulo-nav h2{
     color:rgb(255, 225, 143);
     text-align: center;
     font-size: 4rem;
     margin: 0;
     margin-top: -10vh;
     margin-bottom: 2vh;
     font-family: 'vogue', times, serif;
     
}

.card img{
     height: 35vh;
     object-fit: cover;
    transition: transform 0.4s ease;
}

.card {
  position: relative;
  overflow: hidden;
  background: #111;
  box-shadow:
    6px 6px 0 0 #ffc65b21,        /* glow médio */
    6px 6px 30px #a86d00;        /* glow forte */
}



.card-link{
     text-decoration: none;
     margin: 2vh;
}

.navegador{
     display: flex;
     justify-content:center;
     gap: 3vw;
}

.overlay{
     position: absolute;
     inset: 0;
     background:rgba(0, 0, 0, 0.6) ;
     display: flex;
     align-items: center;
     justify-content: center;
     opacity: 0;
     transition: 0.4s ease;
}

.overlay h5{
     font-family:'bebasneue', times, serif;
     color: #ffffff;
     font-size: 2rem;
     letter-spacing: 2px;
     transform: translateY(20px);
     transition: 0.4 ease;
}

.card:hover img{
     transform: scale(1.1);
}

.card:hover .overlay{
     opacity: 1;
}

.card:hover .overlay h5{
     transform: translateY(0);
}


/*-------------------CONF. MOBILE--------------------- */

/*CELULARES PEQUENOS*/
@media(max-width:320px){
     .banner img{
           height: 25dvh;
           }

     .banner-overlay {
           height: 25dvh;
           }

     .banner-content {
           top: -12dvh;
           }

     .banner-content h1 {
           font-size: 3rem;
           }

     .banner-content span {
           font-size: 4rem;
           left: 50%;
           top: 18dvh;
           }
 }

/*CELULARES PADRÃO*/
@media(min-width:360px){
      .banner img{
           height: 20dvh;
           }

     .banner-overlay {
           height: 20dvh;
           }

     .banner-content {
           top: -15dvh;
           }

     .banner-content h1 {
           font-size: 4rem;
           }

     .banner-content span {
           font-size: 5rem;
           left: 50%;
           top: 20dvh;
           }
}


/*TABLET*/
@media(min-width:750px){
      .banner img{
           height: 23dvh;
           }

     .banner-overlay {
           height: 23dvh;
           }

     .banner-content {
           top: -15dvh;
           }

     .banner-content h1 {
           font-size: 6rem;
           }

     .banner-content span {
           font-size: 8rem;
           left: 50%;
           top: 20dvh;
           }
}
/*NOOTBOOK*/
@media(min-width:1100px){
     .banner img{
           height: 30dvh;
           }

     .banner-overlay {
           height: 30dvh;
           }

     .banner-content {
           top: -10dvh;
           }

     .banner-content h1 {
           font-size: 7rem;
           }

     .banner-content span {
           font-size: 8rem;
           left: 50%;
           top: 18dvh;
           }
          }
/*DASKTOP*/
@media(min-width:1920px){
     .banner img{
           height: 30dvh;
           }

     .banner-overlay {
           height: 30dvh;
           }

     .banner-content {
           top: -10dvh;
           }

     .banner-content h1 {
           font-size: 11rem;
           }

     .banner-content span {
           font-size: 12rem;
           left: 50%;
           top: 15dvh;
           }
}